
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

nav {
	color: #fff;
	background-color: #000;
	padding: 1em;
}

nav ol {
	list-style-type: none;
	padding: 0;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: hotpink;
}