
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
	margin: 0;
}


.container {
  display: flex;
  height: 3.5rem;
}

.flex-item {
  width: 50%;
  margin: auto;
}


/*HEADER*/

.nav-label {
	font-weight: bold;
}


nav ol {
	padding: 0;
	text-align: right;
}


header {
	padding: 2rem 1rem;
	border-bottom: 4px solid black;
	margin-bottom: 2.5rem;
}


@media only screen and (min-width: 60em) {

	header {
		padding: 2rem;
		margin-bottom: 6rem;
	}
}

.logo-box {
	text-align: right;
}

.lb-logo {
	width: 3em;
}



/*SIDEMENU NAV*/


.nav {
  display: none;
  width: 50%;
  height: 100vh;
}

.nav-check:checked ~ .nav {
  display: block;
  position: absolute;
  top: 7.5em;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav {
	color: #fff;
	background-color: #000;
	padding: 2em;
	margin-left: -1rem;
	z-index: 1000;
	position: absolute;
	top: 7rem;
}

header nav li {
	width: 100%;
	max-width: 20em;
}

nav p {
	text-align: left;
}

nav h2 {
	border-top: 2px solid #fff;
	text-align: right
}

nav > ol {
	float: right;
}


@media only screen and (min-width: 60em) {

	nav {
		margin-left: -2rem;
	}
}

nav ol {
	list-style-type: none;
	padding: 0;
}

.vertical-ol li {
	padding: .5rem;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: hotpink;
}

/*PROJECT CARDS*/

.project-card {
	margin: .5rem;
	padding-top: .5rem;
	border-top: 2px solid #000;
	position: relative;
}

.project-card img {
	width: 100%;
}

.project-card h2 {
	position: absolute;
	font-weight: normal;
	left: .5rem;
	z-index: 900;
}

.project-card a {
	color: #000;
}


/*PORTFOLIO GRID*/

.portfolio-grid {
	margin: auto;
	margin-bottom: 3rem;
	padding: .5em;
	display: block;
}

@media only screen and (min-width: 60em) {

	.portfolio-grid {
		max-width: 80%;
	}

}

/*FOOTER*/

footer {
	padding: 2rem 0;
	margin-top: 3rem;
	width: 100%;
	border-top: 3px solid #000;
}

footer a {
	color: #000;
}


@media only screen and (min-width: 50em) {

	.footer-links {
		text-align: right;
	}
}


.wrapper {
	width: 100%;
	margin: 1rem;
}

@media only screen and (min-width: 60em) {

	.wrapper {
		width: 80%;
		display: block;
		margin: auto;
	}

}

