
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
	margin: 0;
}


/*HEADER*/


nav ol {
	padding: 0;
	text-align: right;
}

header li {
	display: inline-block;
	padding: 1em;
}

header {
	padding: 2rem 1rem;
	border-bottom: 5px solid black;
	margin-bottom: 2rem;
}

header img {
	text-align: right;
}

@media only screen and (min-width: 60em) {

	header {
		padding: 2rem;
	}
}

.logo-box {
	width: 3em;
}



/*SIDEMENU NAV*/


.nav {
  display: none;
  width: 50%;
  height: 100vh;
}

.nav-check:checked ~ .nav {
  display: block;
  position: absolute;
  top: 6em;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav {
	color: #fff;
	background-color: #000;
	padding: 1em;
	margin-left: -1rem;
}

@media only screen and (min-width: 60em) {

	nav {
		margin-left: -2rem;
	}
}

nav ol {
	list-style-type: none;
	padding: 0;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: hotpink;
}

/*PROJECT CARDS*/

.project-card {
	background-color: lightgrey;
	padding: 1em;
	border: .5em solid #fff;
}

.project-card img {
	width: 100%;
}

.project-card h2 {
	white-space: nowrap;
}

/*PORTFOLIO GRID*/

.portfolio-grid {
	margin: auto;
	padding: .5em;
	display: block;
}

@media only screen and (min-width: 60em) {

	.portfolio-grid {
		max-width: 80%;
	}

}

.portfolio-grid article {
	padding: 1rem;
}

/*FOOTER*/

footer {
	padding: 2rem 0;
	margin-top: 3rem;
	width: 100%;
	border-top: 1px solid #000;
}

footer a {
	color: #000;
}


@media only screen and (min-width: 50em) {

	.footer-links {
		text-align: right;
	}
}


.wrapper {
	width: 100%;
	margin: 1rem;
}

@media only screen and (min-width: 60em) {

	.wrapper {
		width: 80%;
		display: block;
		margin: auto;
	}

}

