html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


/*HEADER SECTION*/


ol {
	margin: 1em;
	padding-top: 1em;
	text-align: right;
}


/*PROJECT INFO SECTION*/

.project-info {
	width: 100%;
	margin-bottom: 2rem;
}

@media only screen and (min-width: 38em) {

	.project-info {
	padding-bottom: 3rem;
	}
}

.project-info p {
	max-width: 60rem;
	margin: 0;
}



/*IMAGES SECTION*/

img {
	padding-bottom: 1rem;
	width: 100%;
}

h2, p {
	margin: 1rem;
}

