<header class="1-grey">
			<input type="checkbox" class="nav-check" id="nav-check">
			<label class=" nav-label" for="nav-check"><div class="button">WHO IS LEN BUNCE?</div></label>
			<div class="logo-box">
	  				<a href="{{site.baseurl}}/index"><img class="lb-logo" src="{{site.baseurl}}/images/lb-logo.svg"></a>
	  		</div>
			<nav class="nav">
				<ol>
					<li>
						<h2>About</h2>
						<p>Len Bunce is a designer, problem solver, and fighter for social change.</p>
					</li>

					<li><a href="index.html"><h2>Work</h2></a>
						<ol class="vertical-ol">
							<li><a href="#">UX / UI</li></a>
							<li><a href="#">Type</li></a>
							<li class="push"><a href="#">Identity</li></a>
						</ol>
					</li>
				
					<li>
						<h2>Contact</h2>
						<ol class="vertical-ol">
							<li><a href="">lenbunce@gmail.com</a></li>
							<li><a href="">819 230 9420</a></li>
						</ol>
					</li>
				</ol>
	  		</nav>
	</header>
	